<!-- 
    The planning view needs to have:
        - Display the number of good/bad for this number of players
        - Show each role that can be used in the game
            - Must be distinctly marked either evil or good.
        
        - Rule selection
            - Custom rules TBD and TODO basically Stretch goal for now.
        
        Upon submission (Validation):
            - check to make sure the number of good and bad are satisfied.
            - if the number is unbalanced, but total number selected is still correct.
                - Warn the user.
                - Allow them to reselect, but also allow them to play on.
            - If the number selected is less or greater than number of players
                - Warn the user
                - Force them to reselect.
 -->

<div id="view-planning">
    

    <!-- List of checkboxes for roles -->
    <h2>Characters</h2>
    <!-- TODO: Display required balance of good/evil -->
    <ul id="role-picker">
        <!-- This will be filled in with JS -->
    </ul>

    <ul id="rule-picker">
        <!-- This will be filled in with JS -->
    </ul>

    
    <button type="finish-planning">Continue</button>


</div>